@use "./font" as *;
@use "./mixins" as *;
@use "./resets" as *;

// Colours
$pri-dark: #323232;
$pri-mid: #afafaf;
$pri-light: #ffffff;

$sec-dark: #000000;
$sec-mid: #e1e1e1;
$sec-light: #fafafa;

// Bases
body {
  font-family: "AvenirNextLTPro-Regular";
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;

  @include tablet {
    padding: 0 2.25rem;
  }
  @include desktop {
    padding: 0 8rem;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  background-color: $pri-dark;
  color: $pri-light;
  font-family: "AvenirNextLTPro-Demi";
  font-size: 1.2rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  border-style: none;
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: $sec-mid;
  border: none;
}

// Header
.header {
  background-color: $pri-dark;

  &__container {
    @extend .container;
    padding: 0 0;

    @include tablet {
      padding: 0 2.25rem;
      justify-content: flex-start;
      flex-wrap: nowrap;
      gap: 3rem;
    }
    @include desktop {
      padding: 0 8rem;
    }
  }

  &__home {
    padding: 1.2rem 0 1rem 0.5rem;
    text-align: center;

    @include tablet {
      padding: 0;
      margin: 0;
    }
  }

  &__logo {
    max-height: 1.25rem;
    max-width: 7.5rem;
  }

  &__home,
  &__navigation,
  &__items {
    flex: 0 0 100%;

    @include tablet {
      flex: 0 0 auto;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 1rem;
    align-items: flex-start;

    @include tablet {
      gap: 2.5rem;
    }
  }

  &__item,
  &__link {
    transition: all 0.2s ease;
  }

  &__item {
    flex: 0 0 50%;
    padding: 0 0 1rem 1rem;
    text-align: center;

    &:hover,
    &--active {
      font-family: "AvenirNextLTPro-Demi";
      border-bottom: 0.25rem solid $pri-light;
      cursor: pointer;
    }
    &:hover > a,
    &--active > a {
      color: $pri-light;
    }

    @include tablet {
      padding: 1.5rem 0;
      flex: 0 0 auto;
      font-size: 0.9rem;
    }
  }

  &__link {
    color: $pri-mid;
  }
}

// Hero
.hero {
  &__overlay {
    height: 100%;
    background-color: rgba(50, 50, 50, 0.5);
  }

  &__container {
    @extend .container;
    height: 100%;
    justify-content: flex-start;
  }

  &__title {
    color: $pri-light;
    font-family: "AvenirNextLTPro-Demi";
    font-size: 1.8rem;

    @include tablet {
      font-size: 3.8rem;
    }
  }
}

// Footer
.footer {
  background-color: $pri-dark;

  &__container {
    @extend .container;
    justify-content: flex-start;
    padding-bottom: 2rem;

    @include tablet {
      padding-bottom: 4rem;
    }
  }

  &__title {
    flex: 1 0 100%;
    font-family: "AvenirNextLTPro-Demi";
    color: $pri-light;
    font-size: 1.8rem;
    @include padding-headline("mobile");

    @include tablet {
      font-size: 2.28rem;
      order: -1;
      flex: 1 1 30%;
      @include padding-headline("tablet");
    }

    @include desktop {
      flex: 0 1 26%;
    }
  }

  &__social {
    flex: 1 0 100%;
    display: flex;
    gap: 2rem;

    @include tablet {
      order: -1;
      flex: 1 1 30%;
    }

    @include desktop {
      flex: 0 1 30%;
    }
  }

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
    vertical-align: bottom;

    @include desktop {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__contact {
    flex: 1 0 100%;
    color: $pri-light;

    @include tablet {
      flex: 1 0 30%;
    }

    @include desktop {
      flex: 0 1 26%;
      font-size: 0.85rem;
    }
  }

  &__contact-name {
    font-family: "AvenirNextLTPro-Demi";
    @include padding-headline("mobile");

    @include tablet {
      padding-top: 0;
      @include padding-component("tablet");
    }
  }

  &__contact-location {
    @include padding-component("mobile");

    @include tablet {
      @include padding-component("tablet");
    }
  }

  &__contact-email {
    font-size: 0.95rem;
    color: $pri-light;

    @include desktop {
      font-size: 0.85rem;
    }
  }

  &__logo {
    max-height: 1.25rem;
    max-width: 7.5rem;
    vertical-align: bottom;
  }

  &__home {
    display: block;
    margin-top: 3rem;
    @include padding-component("mobile");

    @include tablet {
      flex: 1 1 30%;
      padding-bottom: 0;
      margin-top: 0;
      order: -1;
      text-align: right;
    }

    @include desktop {
      flex: 1 0 40%;
    }
  }

  &__copyright {
    color: $pri-light;
    flex: 1 0 100%;
    font-size: 0.75rem;

    @include tablet {
      font-size: 1rem;
      margin-top: 3rem;
    }

    @include desktop {
      font-size: 0.88rem;
    }
  }
}
