// Breakpoints
$tablet-width: 768px;
$desktop-width: 1280px;

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

// Paddings
@mixin padding-component($screentype) {
  @if $screentype == "mobile" {
      padding-bottom: 1rem;
  }
  @else if $screentype == "tablet" or $screentype == "desktop" {
      padding-bottom: 2.25rem;
  }
}

@mixin padding-headline($screentype) {
  @if $screentype == "mobile" {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
  }
  @else if $screentype == "tablet" or $screentype == "desktop" {
      padding-top: 3rem;
      padding-bottom: 2.25rem;
  }
}