* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "AvenirNextLTPro-Regular";
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


