@font-face {
  font-family: "AvenirNextLTPro-Regular";
  font-weight: 400;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  font-weight: 600;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  font-weight: 700;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "AvenirNextLTPro-Regular";
  padding: 0;
  margin: 0;
}

.container, .about__container, .gallery__container, .comment__container, .comment__generate, .footer__container, .hero__container, .header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
}
@media (min-width: 48rem) {
  .container, .about__container, .gallery__container, .comment__container, .comment__generate, .footer__container, .hero__container, .header__container {
    padding: 0 2.25rem;
  }
}
@media (min-width: 80rem) {
  .container, .about__container, .gallery__container, .comment__container, .comment__generate, .footer__container, .hero__container, .header__container {
    padding: 0 8rem;
  }
}

img {
  width: 100%;
}

.header {
  background-color: #323232;
}
.header__container {
  padding: 0 0;
}
@media (min-width: 48rem) {
  .header__container {
    padding: 0 2.25rem;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 3rem;
  }
}
@media (min-width: 80rem) {
  .header__container {
    padding: 0 8rem;
  }
}
.header__home {
  padding: 1.2rem 0 1rem 0.5rem;
  text-align: center;
}
@media (min-width: 48rem) {
  .header__home {
    padding: 0;
    margin: 0;
  }
}
.header__logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
}
.header__home, .header__navigation, .header__items {
  flex: 0 0 100%;
}
@media (min-width: 48rem) {
  .header__home, .header__navigation, .header__items {
    flex: 0 0 auto;
  }
}
.header__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1rem;
  align-items: flex-start;
}
@media (min-width: 48rem) {
  .header__items {
    gap: 2.5rem;
  }
}
.header__item, .header__link {
  transition: all 0.2s ease;
}
.header__item {
  flex: 0 0 50%;
  padding: 0 0 1rem 1rem;
  text-align: center;
}
.header__item:hover, .header__item--active {
  font-family: "AvenirNextLTPro-Demi";
  border-bottom: 0.25rem solid #ffffff;
  cursor: pointer;
}
.header__item:hover > a, .header__item--active > a {
  color: #ffffff;
}
@media (min-width: 48rem) {
  .header__item {
    padding: 1.5rem 0;
    flex: 0 0 auto;
    font-size: 0.9rem;
  }
}
.header__link {
  color: #afafaf;
}

.hero__overlay {
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__container {
  height: 100%;
  justify-content: flex-start;
}
.hero__title {
  color: #ffffff;
  font-family: "AvenirNextLTPro-Demi";
  font-size: 1.8rem;
}
@media (min-width: 48rem) {
  .hero__title {
    font-size: 3.8rem;
  }
}

.footer {
  background-color: #323232;
}
.footer__container {
  justify-content: flex-start;
  padding-bottom: 2rem;
}
@media (min-width: 48rem) {
  .footer__container {
    padding-bottom: 4rem;
  }
}
.footer__title {
  flex: 1 0 100%;
  font-family: "AvenirNextLTPro-Demi";
  color: #ffffff;
  font-size: 1.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer__title {
    font-size: 2.28rem;
    order: -1;
    flex: 1 1 30%;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 80rem) {
  .footer__title {
    flex: 0 1 26%;
  }
}
.footer__social {
  flex: 1 0 100%;
  display: flex;
  gap: 2rem;
}
@media (min-width: 48rem) {
  .footer__social {
    order: -1;
    flex: 1 1 30%;
  }
}
@media (min-width: 80rem) {
  .footer__social {
    flex: 0 1 30%;
  }
}
.footer__icon {
  width: 1.8rem;
  height: 1.8rem;
  vertical-align: bottom;
}
@media (min-width: 80rem) {
  .footer__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.footer__contact {
  flex: 1 0 100%;
  color: #ffffff;
}
@media (min-width: 48rem) {
  .footer__contact {
    flex: 1 0 30%;
  }
}
@media (min-width: 80rem) {
  .footer__contact {
    flex: 0 1 26%;
    font-size: 0.85rem;
  }
}
.footer__contact-name {
  font-family: "AvenirNextLTPro-Demi";
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer__contact-name {
    padding-top: 0;
    padding-bottom: 2.25rem;
  }
}
.footer__contact-location {
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer__contact-location {
    padding-bottom: 2.25rem;
  }
}
.footer__contact-email {
  font-size: 0.95rem;
  color: #ffffff;
}
@media (min-width: 80rem) {
  .footer__contact-email {
    font-size: 0.85rem;
  }
}
.footer__logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
  vertical-align: bottom;
}
.footer__home {
  display: block;
  margin-top: 3rem;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer__home {
    flex: 1 1 30%;
    padding-bottom: 0;
    margin-top: 0;
    order: -1;
    text-align: right;
  }
}
@media (min-width: 80rem) {
  .footer__home {
    flex: 1 0 40%;
  }
}
.footer__copyright {
  color: #ffffff;
  flex: 1 0 100%;
  font-size: 0.75rem;
}
@media (min-width: 48rem) {
  .footer__copyright {
    font-size: 1rem;
    margin-top: 3rem;
  }
}
@media (min-width: 80rem) {
  .footer__copyright {
    font-size: 0.88rem;
  }
}

.hero {
  background: url("../assets/images/hero-bio.jpg") center;
  background-size: cover;
  height: 32vh;
}
@media (min-width: 48rem) {
  .hero {
    height: 50vh;
  }
}
@media (min-width: 80rem) {
  .hero {
    height: 70vh;
  }
}

.about__container {
  justify-content: flex-start;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .about__container {
    padding-bottom: 2.25rem;
  }
}
.about__title {
  font-family: "AvenirNextLTPro-Demi";
  color: #323232;
  font-size: 1.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .about__title {
    font-size: 2.28rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 48rem) {
  .about__content {
    width: 82%;
    margin: 0 3.6rem;
  }
}
@media (min-width: 80rem) {
  .about__content {
    margin: 0 5.5rem;
  }
}
.about__image {
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .about__image {
    padding-bottom: 2.25rem;
  }
}
.about__passage {
  font-family: "AvenirNextLTPro-Demi";
  color: #323232;
  font-size: 1.02rem;
  line-height: 1.6;
  padding: 0 0.5rem;
}
@media (min-width: 48rem) {
  .about__passage {
    font-size: 1.4rem;
    padding: 0 0;
  }
}
@media (min-width: 80rem) {
  .about__passage {
    padding: 0 11rem 0 0;
  }
}
.about__citation {
  padding: 0.5rem 0;
}
@media (min-width: 48rem) {
  .about__citation {
    font-size: 1rem;
  }
}
@media (min-width: 48rem) {
  .about__introduction {
    display: flex;
    flex-wrap: wrap;
  }
}
.about__subtitle {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}
@media (min-width: 48rem) {
  .about__subtitle {
    flex: 1 0 100%;
    font-size: 1.5rem;
    font-family: "AvenirNextLTPro-Demi";
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.about__text {
  line-height: 1.5;
  font-size: 0.95rem;
  padding: 0 1.1rem 0 0;
}
@media (min-width: 48rem) {
  .about__text {
    flex: 1 0 40%;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 80rem) {
  .about__text {
    padding: 0 0;
  }
}
.about__text--first {
  padding: 0 1.4rem 0 0;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .about__text--first {
    margin: 0 1.3rem 0 0;
    padding-bottom: 0;
  }
}
@media (min-width: 80rem) {
  .about__text--first {
    padding: 0 0;
  }
}

.gallery {
  background-color: #fafafa;
}
.gallery__container {
  justify-content: flex-start;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .gallery__container {
    padding-bottom: 2.25rem;
  }
}
.gallery__title {
  font-family: "AvenirNextLTPro-Demi";
  color: #323232;
  font-size: 1.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .gallery__title {
    font-size: 2.28rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 48rem) {
  .gallery__items {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
}
@media (min-width: 80rem) {
  .gallery__items {
    gap: 1rem;
  }
}
.gallery__item {
  margin-bottom: 1rem;
}
.gallery__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 48rem) {
  .gallery__item {
    margin-bottom: 0;
    width: 30%;
  }
}
@media (min-width: 80rem) {
  .gallery__item {
    margin-bottom: 0;
    width: 32%;
  }
}
.gallery__image {
  filter: grayscale(1);
  transition: filter 0.2s ease;
}
.gallery__image:hover {
  filter: none;
}

.comment__container {
  justify-content: flex-start;
}
.comment__title {
  flex: 1 0 100%;
  font-family: "AvenirNextLTPro-Demi";
  font-size: 1.87rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .comment__title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.comment__generate {
  flex: 1 0 100%;
  padding: 0 0;
  justify-content: flex-start;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .comment__generate {
    padding-bottom: 2.25rem;
  }
}
.comment__thumbnail {
  align-self: flex-start;
}
.comment__thumbnail--active {
  margin-top: 1.8rem;
}
.comment__avatar {
  display: flex;
  justify-content: flex-start;
  padding: 0 0;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.2rem;
  background-color: #e1e1e1;
}
.comment__image {
  width: auto;
  height: 100%;
}
.comment__name, .comment__text {
  padding-bottom: 1.1rem;
}
.comment__name, .comment__text, .comment__label, .comment__input, .comment__textarea, .comment__action {
  width: 100%;
}
.comment__input, .comment__textarea, .comment__action {
  border-radius: 0.25rem;
}
.comment__label {
  color: #afafaf;
  text-transform: uppercase;
  font-family: "AvenirNextLTPro-Demi";
  font-size: 0.75rem;
}
.comment__input, .comment__textarea {
  border: 1px solid #e1e1e1;
  padding: 0.75rem;
  background-color: #fafafa;
  margin-top: 0.5rem;
  font-family: "AvenirNextLTPro-Regular";
  font-size: 1rem;
}
.comment__input:focus, .comment__textarea:focus {
  border-color: #323232;
}
.comment__input::-moz-placeholder, .comment__textarea::-moz-placeholder {
  font-family: "AvenirNextLTPro-Regular";
  color: #323232;
  font-size: 1rem;
}
.comment__input::placeholder, .comment__textarea::placeholder {
  font-family: "AvenirNextLTPro-Regular";
  color: #323232;
  font-size: 1rem;
}
.comment__textarea {
  min-height: 120px;
}
.comment__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110%;
  min-height: 3rem;
  background-color: #323232;
  color: #ffffff;
  font-family: "AvenirNextLTPro-Demi";
  font-size: 1.2rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  border-style: none;
  cursor: pointer;
}/*# sourceMappingURL=bio.css.map */