@use "./partials/global" as *;
@use "./partials/font" as *;
@use "./partials/mixins" as *;
@use "./partials/resets" as *;

// Hero
.hero {
  background: url("../assets/images/hero-bio.jpg") center;
  background-size: cover;
  height: 32vh;

  @include tablet {
    height: 50vh;
  }
  @include desktop {
    height: 70vh;
  }
}

// About
.about {
  &__container {
    @extend .container;
    justify-content: flex-start;
    @include padding-component("mobile");

    @include tablet {
      @include padding-component("tablet");
    }
  }

  &__title {
    font-family: "Avenir Next Pro Lt";
    font-weight: 600;
    color: $pri-dark;
    font-size: 1.8rem;
    @include padding-headline("mobile");

    @include tablet {
      font-size: 2.28rem;
      @include padding-headline("tablet");
    }
  }

  &__content {
    @include tablet {
      width: 82%;
      margin: 0 3.6rem;
    }

    @include desktop {
      margin: 0 5.5rem;
    }
  }

  &__image {
    @include padding-component("mobile");

    @include tablet {
      @include padding-component("tablet");
    }
  }

  &__passage {
    font-family: "Avenir Next Pro Lt";
    font-weight: 600;
    color: $pri-dark;
    font-size: 1.02rem;
    line-height: 1.6;
    padding: 0 0.5rem;

    @include tablet {
      font-size: 1.4rem;
      padding: 0 0;
    }

    @include desktop {
      padding: 0 11rem 0 0;
    }
  }

  &__citation {
    padding: 0.5rem 0;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__introduction {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__subtitle {
    @include padding-headline("mobile");
    font-size: 1rem;

    @include tablet {
      flex: 1 0 100%;
      font-size: 1.5rem;
      font-family: "Avenir Next Pro Lt";
      font-weight: 600;
      @include padding-headline("tablet");
    }
  }

  &__text {
    line-height: 1.5;
    font-size: 0.95rem;
    padding: 0 1.1rem 0 0;

    @include tablet {
      flex: 1 0 40%;
      font-size: 0.875rem;
      line-height: 1.375rem;
    }

    @include desktop {
      padding: 0 0;
    }
  }

  &__text--first {
    padding: 0 1.4rem 0 0;
    @include padding-component("mobile");

    @include tablet {
      margin: 0 1.3rem 0 0;
      padding-bottom: 0;
    }

    @include desktop {
      padding: 0 0;
    }
  }
}

// Gallery
.gallery {
  background-color: $sec-light;

  &__container {
    @extend .container;
    justify-content: flex-start;
    @include padding-component("mobile");

    @include tablet {
      @include padding-component("tablet");
    }
  }

  &__title {
    font-family: "Avenir Next Pro Lt";
    font-weight: 600;
    color: $pri-dark;
    font-size: 1.8rem;
    @include padding-headline("mobile");

    @include tablet {
      font-size: 2.28rem;
      @include padding-headline("tablet");
    }
  }

  &__items {
    @include tablet {
      display: flex;
      box-sizing: border-box;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
    }

    @include desktop {
      gap: 1rem;
    }
  }

  &__item {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      margin-bottom: 0;
      width: 30%;
    }

    @include desktop {
      margin-bottom: 0;
      width: 32%;
    }
  }

  &__image {
    filter: grayscale(1);
    transition: filter 0.2s ease;

    &:hover {
      filter: none;
    }
  }
}

// Comment
.comment {
  &__container {
    @extend .container;
    justify-content: flex-start;
  }

  &__title {
    flex: 1 0 100%;
    font-family: "Avenir Next Pro Lt";
    font-weight: 600;
    font-size: 1.87rem;
    @include padding-headline("mobile");

    @include tablet {
      font-size: 2.46rem;
      @include padding-headline("tablet");

      @include desktop {
        font-size: 2.3rem;
      }
    }
  }

  &__generate {
    @extend .container;
    flex: 1 0 100%;
    padding: 0 0;
    justify-content: flex-start;
    @include padding-component("mobile");

    @include tablet {
      margin: 0 0 0 4.2rem;
      @include padding-component("tablet");
    }

    @include desktop {
      margin: 0 0 0 16.3rem;
    }
  }

  &__form {
    width: 80%;

    @include desktop {
      width: 45%;
    }
  }

  &__thumbnail {
    align-self: flex-start;

    &--active {
      margin-top: 1.8rem;
    }
  }

  &__avatar {
    display: flex;
    justify-content: flex-start;
    padding: 0 0;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1.2rem;
    background-color: $sec-mid;

    @include tablet {
      margin-right: 0.8rem;
      width: 3.3rem;
      height: 3.3rem;
    }
  }

  &__image {
    width: auto;
    height: 100%;
  }

  &__name,
  &__text {
    padding-bottom: 1.1rem;
  }

  &__name,
  &__text,
  &__label,
  &__input,
  &__textarea {
    width: 96%;

    @include tablet {
      width: 93.5%;
    }

    @include desktop {
      width: 94%;
    }
  }

  &__label {
    color: $pri-mid;
    text-transform: uppercase;
    font-family: "Avenir Next Pro Lt";
    font-weight: 600;
    font-size: 0.75rem;
  }

  &__input,
  &__textarea {
    border: 0.063rem solid $sec-mid;
    padding: 0.75rem;
    background-color: #fafafa;
    margin-top: 0.5rem;
    font-family: "Avenir Next Pro Lt";
    font-size: 1rem;
    border-radius: 0.25rem;
  }

  &__textarea {
    min-height: 7.5rem;
  }

  &__input:focus,
  &__textarea:focus {
    border-color: $pri-dark;
  }

  &__input::placeholder,
  &__textarea::placeholder {
    font-family: "Avenir Next Pro Lt";
    color: $pri-dark;
    font-size: 1rem;
  }

  &__submit {
    @include tablet {
      display: flex;
      justify-content: flex-end;
      width: 92%;

      @include desktop {
        width: 94%;
      }
    }
  }

  &__button {
    @extend .button;
    width: 101.5%;

    @include tablet {
      width: 30.5%;
      font-size: 1rem;
    }

    @include desktop {
      width: 34.5%;
      min-height: 2.5rem;
    }
  }

  &__items {
    flex: 1 1 100%;
    @include padding-component("mobile");

    @include tablet {
      margin: 0 4.2rem;
      padding-bottom: 2.5rem;
    }

    @include desktop {
      max-width: 55%;
      margin: 0 16.3rem;
    }
  }

  &__item {
    @extend .container;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 1rem 0;

    @include tablet {
      padding: 1.8rem 0;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
  }

  &__username {
    font-size: 1rem;
    font-family: "Avenir Next Pro Lt";
    font-weight: 600;
    @include padding-component("mobile");
  }

  &__timestamp {
    color: $pri-mid;
    @include padding-component("mobile");

    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__body {
    flex: 1 1 100%;

    @include tablet {
      line-height: 1.5rem;
      font-size: 0.92rem;
    }

    @include desktop {
      font-size: 0.87rem;
    }
  }

  &__divider {
    @extend .divider;
  }
}

