@font-face {
  font-family: "Avenir Next Pro Lt";
  font-weight: 400;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next Pro Lt";
  font-weight: 600;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next Pro Lt";
  font-weight: 700;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Avenir Next Pro Lt", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

.container, .footer__container, .hero__container, .header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container, .footer__container, .hero__container, .header__container {
    padding: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .container, .footer__container, .hero__container, .header__container {
    padding: 0 8rem;
  }
}

.button, .show__button {
  background-color: #323232;
  color: #ffffff;
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 5px;
  padding: 0 2rem;
  font-family: "Avenir Next Pro Lt";
  font-weight: 600;
  cursor: pointer;
}
@media (min-width: 768px) {
  .button, .show__button {
    width: 10.5rem;
    height: 2.8rem;
  }
}
@media (min-width: 1280px) {
  .button, .show__button {
    width: 9.5rem;
    height: 2.5rem;
  }
}
.button:hover, .show__button:hover {
  background-color: #000000;
}

.header {
  background-color: #323232;
}
.header__container {
  padding: 0 0;
}
@media (min-width: 768px) {
  .header__container {
    padding: 0 2.25rem;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .header__container {
    padding: 0 8rem;
  }
}
.header__home {
  padding: 1.2rem 0 1rem 0.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .header__home {
    padding: 0;
    margin: 0;
  }
}
.header__logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
}
.header__home, .header__navigation, .header__items {
  flex: 0 0 100%;
}
@media (min-width: 768px) {
  .header__home, .header__navigation, .header__items {
    flex: 0 0 auto;
  }
}
.header__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1rem;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .header__items {
    gap: 2.5rem;
  }
}
.header__item, .header__link {
  transition: all 0.2s ease;
}
.header__item {
  flex: 0 0 50%;
  padding: 0 0 1rem 1rem;
  text-align: center;
}
.header__item:hover, .header__item--active {
  font-family: "Avenir Next Pro Lt";
  font-weight: 600;
  border-bottom: 0.25rem solid #ffffff;
  cursor: pointer;
}
.header__item:hover > a, .header__item--active > a {
  color: #ffffff;
}
@media (min-width: 768px) {
  .header__item {
    padding: 1.5rem 0;
    flex: 0 0 auto;
    font-size: 0.9rem;
  }
}
.header__link {
  color: #afafaf;
}

.hero__overlay {
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__container {
  height: 100%;
  justify-content: flex-start;
}
.hero__title {
  color: #ffffff;
  font-family: "Avenir Next Pro Lt";
  font-weight: 600;
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.8rem;
  }
}

.footer {
  background-color: #323232;
}
.footer__container {
  justify-content: flex-start;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer__container {
    padding-bottom: 4rem;
  }
}
.footer__title {
  flex: 1 0 100%;
  font-family: "Avenir Next Pro Lt";
  font-weight: 600;
  color: #ffffff;
  font-size: 1.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.28rem;
    order: -1;
    flex: 1 1 30%;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    flex: 0 1 26%;
  }
}
.footer__social {
  flex: 1 0 100%;
  display: flex;
  gap: 2rem;
}
@media (min-width: 768px) {
  .footer__social {
    order: -1;
    flex: 1 1 30%;
  }
}
@media (min-width: 1280px) {
  .footer__social {
    flex: 0 1 30%;
  }
}
.footer__icon {
  width: 1.8rem;
  height: 1.8rem;
  vertical-align: bottom;
}
@media (min-width: 1280px) {
  .footer__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.footer__contact {
  flex: 1 0 100%;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer__contact {
    flex: 1 0 30%;
  }
}
@media (min-width: 1280px) {
  .footer__contact {
    flex: 0 1 26%;
    font-size: 0.85rem;
  }
}
.footer__contact-name {
  font-family: "Avenir Next Pro Lt";
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__contact-name {
    padding-top: 0;
    padding-bottom: 2.25rem;
  }
}
.footer__contact-location {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__contact-location {
    padding-bottom: 2.25rem;
  }
}
.footer__contact-email {
  font-size: 0.95rem;
  color: #ffffff;
}
@media (min-width: 1280px) {
  .footer__contact-email {
    font-size: 0.85rem;
  }
}
.footer__logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
  vertical-align: bottom;
}
.footer__home {
  display: block;
  margin-top: 3rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__home {
    flex: 1 1 30%;
    padding-bottom: 0;
    margin-top: 0;
    order: -1;
    text-align: right;
  }
}
@media (min-width: 1280px) {
  .footer__home {
    flex: 1 0 40%;
  }
}
.footer__copyright {
  color: #ffffff;
  flex: 1 0 100%;
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 1rem;
    margin-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer__copyright {
    font-size: 0.88rem;
  }
}

.hero {
  background: url("../assets/images/hero-shows.jpg") center;
  background-size: cover;
  min-height: 56vh;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    min-height: 68vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    min-height: 70vh;
  }
}
.hero__overlay {
  position: absolute;
}
.hero__content {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.hero__subtitle {
  flex: 1 1 100%;
  font-size: 1.08rem;
  color: #ffffff;
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .hero__subtitle {
    font-size: 1.64rem;
    font-family: "Avenir Next Pro Lt";
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .hero__subtitle {
    font-size: 1.54rem;
  }
}
.hero__title {
  flex: 0 1 70%;
  margin-right: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .hero__title {
    flex: 1 1 80%;
    font-size: 4.1rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    flex: 1 1 20%;
    font-size: 3.9rem;
  }
}
.hero__song {
  flex: 1 1 100%;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .hero__song {
    width: 60%;
    height: 90%;
    flex: 0 1 60%;
  }
}
@media (min-width: 1280px) {
  .hero__song {
    flex: 1 1 12%;
  }
}

.shows {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0;
}
@media (min-width: 768px) {
  .shows {
    padding: 0.5rem 1.25rem 2.25rem 1.25rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 7rem 2rem 5rem;
  }
}
.shows__title {
  font-family: "Avenir Next Pro Lt";
  font-weight: 600;
  font-size: 1.8rem;
  flex: 1 1 100%;
  padding: 1.2rem 1.2rem;
}
@media (min-width: 768px) {
  .shows__title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 2.4rem;
    padding-left: 1.1rem;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    flex: 0 1 20%;
    align-self: flex-start;
    padding: 0 0 0 3.2rem;
    font-size: 2.2rem;
  }
}
.shows__header {
  display: none;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .shows__header {
    display: flex;
    justify-content: space-between;
    width: 77%;
    padding: 0 1.1rem;
  }
}
@media (min-width: 1280px) {
  .shows__header {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    width: 76.5%;
  }
}
.shows__label {
  color: #afafaf;
  text-transform: uppercase;
  width: 100%;
  font-family: "Avenir Next Pro Lt";
  font-weight: 600;
  font-size: 0.8rem;
}
@media (min-width: 1280px) {
  .shows__list {
    width: 73%;
  }
}

.show {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.2rem;
  border-bottom: 0.094rem solid #e1e1e1;
}
@media (min-width: 768px) {
  .show {
    flex-direction: row;
    justify-content: space-between;
  }
}
.show:hover {
  background-color: #fafafa;
}
.show--selected {
  background-color: #e1e1e1 !important;
}
.show__info {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .show__info {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
}
.show__date, .show__venue, .show__location {
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .show__date, .show__venue, .show__location {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    font-size: 0.92rem;
  }
}
.show__date-title, .show__venue-title, .show__location-title {
  color: #afafaf;
  text-transform: uppercase;
  font-family: "Avenir Next Pro Lt";
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0.5rem 0;
}
@media (min-width: 768px) {
  .show__date-title, .show__venue-title, .show__location-title {
    display: none;
  }
}
.show__date-content {
  font-family: "Avenir Next Pro Lt";
  font-weight: 600;
}
.show__button {
  margin-top: 1.2rem;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .show__button {
    margin-top: 0;
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .show__button {
    font-size: 0.88rem;
  }
}/*# sourceMappingURL=shows.css.map */