@use "./partials/global" as *;
@use "./partials/font" as *;
@use "./partials/mixins" as *;
@use "./partials/resets" as *;

.hero {
  background: url("../assets/images/hero-shows.jpg") center;
  background-size: cover;
  min-height: 56vh;
  position: relative;

  @include tablet {
    min-height: 68vh;
  }
  @include desktop {
    min-height: 70vh;
  }

  &__overlay {
    position: absolute;
  }

  &__content {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__subtitle {
    flex: 1 1 100%;
    font-size: 1.08rem;
    color: $pri-light;
    padding-top: 2rem;

    @include tablet {
      font-size: 1.64rem;
      font-family: "Avenir Next Pro Lt";
      font-weight: 600;
    }

    @include desktop {
      font-size: 1.54rem;
    }
  }

  &__title {
    flex: 0 1 70%;
    margin-right: 5rem;
    @include padding-headline("mobile");

    @include tablet {
      flex: 1 1 80%;
      font-size: 4.1rem;
    }

    @include desktop {
      flex: 1 1 20%;
      font-size: 3.9rem;
    }
  }

  &__song {
    flex: 1 1 100%;
    padding-bottom: 2rem;

    @include tablet {
      width: 60%;
      height: 90%;
      flex: 0 1 60%;
    }
    @include desktop {
      flex: 1 1 12%;
    }
  }
}

.shows {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0;

  @include tablet {
    padding: 0.5rem 1.25rem 2.25rem 1.25rem;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 7rem 2rem 5rem;
  }

  &__title {
    font-family: "Avenir Next Pro Lt";
    font-weight: 600;
    font-size: 1.8rem;
    flex: 1 1 100%;
    padding: 1.2rem 1.2rem;

    @include tablet {
      @include padding-headline("tablet");
      font-size: 2.4rem;
      padding-left: 1.1rem;
    }

    @include desktop {
      flex: 0 1 20%;
      align-self: flex-start;
      padding: 0 0 0 3.2rem;
      font-size: 2.2rem;
    }
  }

  &__header {
    display: none;
    padding-bottom: 0.5rem;

    @include tablet {
      display: flex;
      justify-content: space-between;
      width: 77%;
      padding: 0 1.1rem;
    }

    @include desktop {
      padding-top: 1rem;
      padding-bottom: 1.5rem;
      width: 76.5%;
    }
  }

  &__label {
    color: $pri-mid;
    text-transform: uppercase;
    width: 100%;
    font-family: "Avenir Next Pro Lt";
    font-weight: 600;
    font-size: 0.8rem;
  }

  &__list {
    @include desktop {
      width: 73%;
    }
  }
}

.show {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.2rem;
  border-bottom: 0.094rem solid $sec-mid;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  &:hover {
    background-color: $sec-light;
  }

  &--selected {
    background-color: $sec-mid !important;
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
    }
  }

  &__date,
  &__venue,
  &__location {
    margin-bottom: 0.5rem;

    @include tablet {
      margin-top: auto;
      margin-bottom: auto;
      width: 100%;
      font-size: 0.92rem;
    }

    &--title {
      color: $pri-mid;
      text-transform: uppercase;
      font-family: "Avenir Next Pro Lt";
      font-weight: 600;
      font-size: 0.75rem;
      padding: 0.5rem 0;

      @include tablet {
        display: none;
      }
    }
  }

  &__date {
    &-content {
      font-family: "Avenir Next Pro Lt";
      font-weight: 600;
    }
  }

  &__button {
    @extend .button;
    margin-top: 1.2rem;
    font-size: 1.2rem;

    @include tablet {
      margin-top: 0;
      font-size: 1rem;
    }

    @include desktop {
      font-size: 0.88rem;
    }
  }
}
